USE [SchoolDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fnActiveStudents]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnActiveStudents]()

RETURNS INT

AS
BEGIN

    DECLARE @Total INT;

    SELECT @Total = COUNT(*)
    FROM Students
    WHERE IsActive = 1;

    RETURN @Total;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fnAverageStudentAge]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnAverageStudentAge]()

RETURNS DECIMAL(5,2)

AS
BEGIN

    DECLARE @AverageAge DECIMAL(5,2);

    SELECT @AverageAge =
        AVG(DATEDIFF(YEAR, DateOfBirth, GETDATE()) * 1.0)
    FROM Students;

    RETURN @AverageAge;

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fnCalculateAge]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnCalculateAge]
(
    @DateOfBirth DATE
)

RETURNS INT

AS
BEGIN

    RETURN DATEDIFF(YEAR, @DateOfBirth, GETDATE());

END;
GO
/****** Object:  UserDefinedFunction [dbo].[fnFullName]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnFullName]
(
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50)
)
RETURNS VARCHAR(120)
AS
BEGIN
    RETURN @FirstName + ' ' + @LastName;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fnTotalStudents]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnTotalStudents]()

RETURNS INT

AS
BEGIN

    DECLARE @Total INT;

    SELECT @Total = COUNT(*)
    FROM Students;

    RETURN @Total;

END;
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentNumber] [varchar](20) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Email] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwActiveStudents]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwActiveStudents]
AS
SELECT
    StudentID,
    StudentNumber,
    FirstName,
    LastName,
    Email
FROM Students
WHERE IsActive = 1;
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [varchar](10) NOT NULL,
	[CourseName] [varchar](100) NOT NULL,
	[Credits] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[EnrollmentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[EnrollmentDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwStudentCourses]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwStudentCourses]
AS
SELECT
    S.StudentNumber,
    S.FirstName,
    S.LastName,
    S.Email,
    C.CourseCode,
    C.CourseName,
    E.EnrollmentDate
FROM Students AS S
INNER JOIN Enrollments AS E
    ON S.StudentID = E.StudentID
INNER JOIN Courses AS C
    ON E.CourseID = C.CourseID;
GO
/****** Object:  View [dbo].[vwStudentContactDetails]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwStudentContactDetails]
AS
SELECT
    StudentNumber,
    FirstName,
    LastName,
    Email
FROM Students;
GO
/****** Object:  View [dbo].[vwCourseEnrollmentSummary]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwCourseEnrollmentSummary]
AS
SELECT
    C.CourseCode,
    C.CourseName,
    COUNT(E.EnrollmentID) AS TotalEnrollments
FROM Courses AS C
LEFT JOIN Enrollments AS E
    ON C.CourseID = E.CourseID
GROUP BY
    C.CourseCode,
    C.CourseName;
GO
/****** Object:  UserDefinedFunction [dbo].[fnStudentsByCourse]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fnStudentsByCourse]
(
    @CourseID INT
)

RETURNS TABLE

AS

RETURN
(
    SELECT
        S.StudentNumber,
        S.FirstName,
        S.LastName,
        C.CourseCode,
        C.CourseName
    FROM Students AS S
    INNER JOIN Enrollments AS E
        ON S.StudentID = E.StudentID
    INNER JOIN Courses AS C
        ON E.CourseID = C.CourseID
    WHERE C.CourseID = @CourseID
);
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [EnrollmentDate]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
/****** Object:  StoredProcedure [dbo].[GetAllStudents]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllStudents]
AS
BEGIN

    SELECT *
    FROM Students;

END;
GO
/****** Object:  StoredProcedure [dbo].[GetStudentByFirstName]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentByFirstName]

@FirstName VARCHAR(50)

AS
BEGIN

SELECT *

FROM Students

WHERE FirstName=@FirstName;

END;
GO
/****** Object:  StoredProcedure [dbo].[GetStudentByNumber]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentByNumber]

@StudentNumber VARCHAR(20)

AS
BEGIN

    SELECT *
    FROM Students
    WHERE StudentNumber = @StudentNumber;

END;
GO
/****** Object:  Trigger [dbo].[trgPreventInactiveEnrollment]    Script Date: 2026/07/19 10:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgPreventInactiveEnrollment]

ON [dbo].[Enrollments]

INSTEAD OF INSERT

AS
BEGIN

    IF EXISTS
    (
        SELECT 1
        FROM inserted i
        INNER JOIN Students s
            ON i.StudentID = s.StudentID
        WHERE s.IsActive = 0
    )
    BEGIN
        RAISERROR ('Inactive students cannot be enrolled.',16,1);
        RETURN;
    END

    INSERT INTO Enrollments
    (
        StudentID,
        CourseID,
        EnrollmentDate
    )
    SELECT
        StudentID,
        CourseID,
        EnrollmentDate
    FROM inserted;

END;
GO
ALTER TABLE [dbo].[Enrollments] ENABLE TRIGGER [trgPreventInactiveEnrollment]
GO
/****** Object:  Trigger [dbo].[trgPreventStudentDelete]    Script Date: 2026/07/19 10:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgPreventStudentDelete]

ON [dbo].[Students]

INSTEAD OF DELETE

AS
BEGIN

    PRINT 'Student records cannot be deleted.';

END;
GO
ALTER TABLE [dbo].[Students] ENABLE TRIGGER [trgPreventStudentDelete]
GO
/****** Object:  Trigger [dbo].[trgStudentInserted]    Script Date: 2026/07/19 10:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgStudentInserted]

ON [dbo].[Students]

AFTER INSERT

AS
BEGIN

    PRINT 'New student successfully registered.';

END;
GO
ALTER TABLE [dbo].[Students] ENABLE TRIGGER [trgStudentInserted]
GO
/****** Object:  Trigger [dbo].[trgStudentUpdated]    Script Date: 2026/07/19 10:53:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trgStudentUpdated]

ON [dbo].[Students]

AFTER UPDATE

AS
BEGIN

    PRINT 'Student information has been updated.';

END;
GO
ALTER TABLE [dbo].[Students] ENABLE TRIGGER [trgStudentUpdated]
GO
